.header {
    background-color: var(--footer-bg);
    background-image: url(/img/main/main-bg.jpg);
    background-size: cover;
    aspect-ratio: 1440 / 1084;
    margin-bottom: 120px;
    color: var(--white-text-color);
    a {
        color: var(--white-text-color);
    }
}
