/* reset */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* reset */
/* imports */
/* sticky footer */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}

/* sticky footer */
/* body font , color */
body {
  color: var(--text-color);
  font-family: var(--Gilroy-Medium);
  font-size: 16px;
  line-height: 185%;
}

/* conteiner */
.conteiner {
  max-width: 1310px;
  margin: 0 auto;
}

:root {
  --text-color: #1e1e1e;
  --accent: #f6b76f;
  --white-text-color: #ffffff;
  --text-muted: #8d8d8d;
  --card-text-blue: #0d1b39;
  --footer-bg: #2d2f33;
  /* fonts */
  --Gilroy-Medium: "Gilroy-Medium", sans-serif;
  --Gilroy-Regular: "Gilroy-Regular", sans-serif;
  --Gilroy-Bold: "Gilroy-Bold", sans-serif;
  --Inter-regular: "Inter", sans-serif;
  --Inter-semi-bold: "Inter-semi-bold", sans-serif;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(/fonts/gilroy/gilroy-medium.woff), url(/fonts/gilroy/gilroy-medium.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(/fonts/gilroy/gilroy-regular.woff), url(/fonts/gilroy/gilroy-regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/gilroy/gilroy-bold.woff), url(/fonts/gilroy/gilroy-bold.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/inter/InterRegular.woff), url(/fonts/inter/InterRegular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter-semi-bold";
  src: url(/fonts/inter/InterSemiBold.woff), url(/fonts/inter/InterSemiBold.woff2);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
/* block */
.header {
  background-color: var(--footer-bg);
  background-image: url(/img/main/main-bg.jpg);
  background-size: cover;
  aspect-ratio: 1440/1084;
  margin-bottom: 120px;
  color: var(--white-text-color);
}
.header a {
  color: var(--white-text-color);
}

/* nav */
.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 40px;
  margin-bottom: 85px;
}

.nav__logo {
  align-self: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-size: 28px;
  font-family: var(--Gilroy-Bold);
}

.nav-list {
  justify-self: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  -moz-column-gap: 60px;
       column-gap: 60px;
  flex-wrap: wrap;
}

.nav-card__btn {
  justify-self: end;
  align-self: center;
  position: relative;
  width: 34px;
  height: 34px;
  background-image: url(/img/header/Bag.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */
.footer {
  height: 300px;
  background-color: blue;
}

/* form */
.header__content {
  max-width: 860px;
  text-align: center;
  margin: 0 auto;
}

.header__title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  font-family: var(--Gilroy-Bold);
}

.header__text {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  font-family: var(--Gilroy-Regular);
  opacity: 0.8;
}

.header-form {
  margin: 0 auto;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding: 8px 8px 8px 20px;
  width: 344px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}
.header-form::-moz-placeholder {
  color: var(--text-muted);
  font-size: 18px;
  line-height: 150%;
  font-family: var(--Gilroy-Regular);
}
.header-form::placeholder {
  color: var(--text-muted);
  font-size: 18px;
  line-height: 150%;
  font-family: var(--Gilroy-Regular);
}

.header-form__btn {
  border-radius: 24px;
  padding: 11px;
  width: 40px;
  height: 40px;
  background-color: var(--accent);
}

.advantages {
  margin-bottom: 120px;
}

.advantages-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.advantages-wrapper__block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.advantages__title {
  font-weight: 400;
  font-size: 42px;
  line-height: 110%;
  font-family: var(--Gilroy-Bold);
}

.advantages-block__title {
  opacity: 0.9;
  font-weight: 400;
  font-size: 24px;
  line-height: 185%;
  font-family: var(--Gilroy-Bold);
}

.advantages-block__content {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  font-family: var(--Gilroy-Regular);
}

.advantages-block__link {
  width: 50%;
  display: inline-flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  font-family: var(--Gilroy-Medium);
  color: var(--accent);
  cursor: pointer;
}

.advantages-block__link__img {
  cursor: pointer;
  display: block;
  background-image: url(/img/text-section/link-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 48px;
}/*# sourceMappingURL=main.css.map */