/* reset */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* reset */
/* imports */
/* sticky footer */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer {
  margin-top: auto;
}

/* sticky footer */
/* body font , color */
body {
  color: var(--text-color);
  font-family: var(--Gilroy-Medium);
  font-size: 16px;
  line-height: 185%;
}

:root {
  --text-color: #1e1e1e;
  --accent: #f6b76f;
  --white-text-color: #ffffff;
  --text-muted: #8d8d8d;
  --card-text-blue: #0d1b39;
  --footer-bg: #2d2f33;
  /* fonts */
  --Gilroy-Medium: "Gilroy-Medium", sans-serif;
  --Gilroy-Regular: "Gilroy-Regular", sans-serif;
  --Gilroy-Bold: "Gilroy-Bold", sans-serif;
  --Inter-regular: "Inter", sans-serif;
  --Inter-semi-bold: "Inter-semi-bold", sans-serif;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(/fonts/gilroy/gilroy-medium.woff), url(/fonts/gilroy/gilroy-medium.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(/fonts/gilroy/gilroy-regular.woff), url(/fonts/gilroy/gilroy-regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(/fonts/gilroy/gilroy-bold.woff), url(/fonts/gilroy/gilroy-bold.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/inter/InterRegular.woff), url(/fonts/inter/InterRegular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter-semi-bold";
  src: url(/fonts/inter/InterSemiBold.woff), url(/fonts/inter/InterSemiBold.woff2);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
.header {
  font-size: 16px;
  height: 200px;
  background-color: red;
}
.header .nav {
  font-size: 22px;
}

/* footer */
.footer {
  height: 300px;
  background-color: blue;
}/*# sourceMappingURL=main.css.map */